<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookForm</title>
    <style>
        *{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <form action="success" method="post">
        <fieldset>
            <legend>Book detail</legend>
            <table style="width: 600px;">
                <tr>
                    <td>Title</td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td><input type="number" name="year"></td>
                </tr>
                <tr>
                    <td>Publication</td>
                    <td><input type="text" name="publication"></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><input type="text" name="author"></td>
                </tr>
            </table>
            <button type="submit">Submit</button>
        </fieldset>
    </form> 
</body>
</html>